html {
  box-sizing: border-box;

  *,
  *::before,
  *::after 
    box-sizing: inherit;
  }

body {
min-width: 1015px;
margin: 0;
padding: 0;
font-family: "Arial", sans-serif;
font-size: 16px;
color: #404040;
line-height: 30px;
background-color: #ffffff;
box-sizing: content-box;
}

h2,
h3 {
	font-size: 40px;
	line-height: 60px;
	font-weight: bold;
	text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
	width: 800px;
	margin: 0 auto;
	/*outline: 2px solid yellow;*/
}

.page_header {
	height: 491px;
	padding-top: 60px;
	background-image: url(img/wheat-back.jpg);
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: bottom;
}
.header-top{
	display: grid;
	grid-template-columns: 140px 660px;
	grid-template-rows: 70px auto;
	grid-template-areas:"logo nav"
						"text text";
}

.header_logo{
	grid-area: logo;
	width: 140px;
	height: 76px;
}

.main_nav {
	grid-area: nav;
}


ul.main_nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding:0;
	margin:0;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	list-style: none;
	margin-left: 60px;
	height: 57px;
	margin-top: 10px;
	margin-bottom: 10px;

	
}

.main_nav li {
	padding: 0;
	margin: 0;

}

.main_nav a {
	text-decoration: none;
	color: #fff;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.page_header {
	grid-area: text;

}

.page_header p {
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 70px;
	font-weight: bold;
	line-height: 70px;
	color: #fff;
	text-align: center;
	margin-top: 126px;
}

/* НОВИНКИ */


.new_items {
	margin: 0;
	padding: 0;
}

.new_items .container{
	margin-top: 80px;
}


.item_card { 
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: space-between;
	align-items: flex-start;
	width: 400px;
}


.item_card h3 {
	margin: 0;
	padding: 0;
	padding-left: 34px;
}

.new_items .item-cards {
	margin-top: 75px;
	display: flex;
}


.item-desc {
	width: 150px;
	height: 140px;
	position: absolute;
	top: 85px;
	right: 27px;
}

.item-desc table,td {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-collapse: collapse;
}

.item-desc td {
	width: 75px;
	height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-align: left;
	padding-left: 10px;
}

p.description {
 margin: 18px 32px 67px 35px;
 font-size: 16px;
 line-height: 30px;
 color: #404040;
}

.btns-price .btn {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	outline: 2px solid #844802;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}


.btns-price .btn-buy {
	width: 109px;
	color: #fff;
	background-color: #844820;
	margin-left: 7px;
}

.btns-price .btn-desc {
	width: 146px;
	color: #844802;
	margin-left: 35px;
}

.btns-price b {
	display: inline-block;
	height: 50px;
	margin: 0;
	padding: 0;
	margin-left: 25px;
}

.item_card p {
	font-size: 14px;
	line-height: 24px;
	margin-top: 10px;
}

.item_card img {
	padding-top: 30px;
	padding-left: 45px;
}

.romantik img {
	padding-top: 30px;
	padding-left: 45px;
}

p.description {
	font-size: 16px;
	margin-bottom: 75px;
	margin-top: 14px;
}


/* ПРЕИМУЩЕСТВА */


.advantages {
	background-color: #ffcb78;
}

.advantages > .container{
	width: 1015px;
}

.advantages ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 160px;
	display: flex;
	padding-bottom: 100px;

}

.advantages li h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 30px;	
}

.advantages li p{
	font-size: 16px;
	line-height: 30px;
}

.advantages li{
	position: relative;
	

}

.advantages li:first-child {
	padding-right: 100px;
	padding-top: 78px;
	margin-top: -78px;
}

.advantages li:nth-child(2) {
	padding-left: 100px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	padding-right: 100px;
	padding-top: 78px;
	margin-top: -78px;
}

.advantages li:last-child {
	padding-left: 90px;
	padding-top: 78px;
	margin-top: -78px;
}

.advantages li::before{
	content: "";
	position: absolute;
	top: 0px;
	height: 68px;
	width: 68px;
}

.advantages li:first-child::before {
	background-image: url(img/icon-brew.png.png);
	background-repeat: no-repeat;

}

.advantages li:nth-child(2)::before {
	background-image: url(img/icon-matreshka.png.png);
	background-repeat: no-repeat;
}

.advantages li:last-child::before {
	background-image: url(img/icon-thumbsup.png.png);
	background-repeat: no-repeat;
}


/* НЕМНОГО ИСТОРИИ */


.a-bit-of-history .container h2{
	margin: 0;
	padding: 0;
	margin-top: 80px;
	font-size: 40px;
	line-height: 60px;
	text-transform: uppercase;
	color: #000;
}

.a-bit-of-history .container dt span{
	display: inline-block;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}

.a-bit-of-history .container dl{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}

.a-bit-of-history .container dl dt{
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	margin-bottom: 20px;
}

.a-bit-of-history .container dl dt i {
	font-style: italic;
	color: #000;
}

.a-bit-of-history .container dl dt a {
	font-style: italic;
	color: #834700;
}

.a-bit-of-history .container dl dd{
	display: flex;
	flex-direction: row-reverse;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	align-items: flex-start;
	
}

.a-bit-of-history .container dl dd p{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	padding-right: 105px;
}

.a-bit-of-history .container dl dd img{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	padding-top: 10px;
}


/* ПРЕССА О НАС */

.press-about-us {
	background-color: #ede5d8;
	padding-top: 80px;
	padding-bottom: 80px;
}

.press-about-us h2 {
	margin: 0;
	padding: 0;
	font-size: 40px;
	line-height: 60px;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 75px;
}

.press-about-us blockquote {
	margin: 0;
	padding: 0;
	position: relative;
	padding-bottom: 70px;
}

.press-about-us blockquote::before {
	display: block;
	content: "";
	background-image: url(img/quotes.png);
	width: 41px;
	height: 31px;
	position: absolute;
	top: 0;
	left: -100px;
}

.press-about-us blockquote p {
	color: #404040;
	margin-right: 110px;
}

.press-about-us blockquote a {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 160px;
	height: 45px;
	border:2px solid rgba(0, 0, 0, 0.3);
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	text-decoration: none;
	line-height: 45px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

.press-about-us blockquote cite{
	margin: 0;
	padding: 0;
	display: inline-block;
	position: absolute;
	bottom: 10px;
	right: 0;
	font-style: normal;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #000;
}


/* АССОРТИМЕНТ */
.assort {
	margin: 0;
	padding: 0;
}


.assort .container h2{
	margin: 0;
	padding: 0;
	font-size: 40px;
	line-height: 60px;
	text-transform: uppercase;
	color: #000;
	margin-top: 90px;
}

.assort .container table{
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
	margin-top: 70px;
}

.assort .container table tr{
	margin: 0;
	padding: 0;
	height: 65px;
}

.assort .container table tr:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.assort .container table th{
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 30px;
	color: #999999;
	font-weight: normal;
	vertical-align: top;
}

.assort .container table td{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 65px;
	color: #404040;
	font-weight: normal;
	vertical-align: middle;
	border-collapse: collapse;
	border: none;
	border-top: 1px solid #e5e5e5;

}

.assort .container table td:first-child {
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	width: 390px;
}

.assort .container table th:first-child {
	text-align: left;
	text-transform: uppercase;
	width: 390px;
}

.assort .container table td:nth-child(2),
.assort .container table th:nth-child(2) {
	text-align: left;
	text-transform: uppercase;
}

.assort .container table td:nth-child(3),
.assort .container table th:nth-child(3) {
	text-align: left;
	text-transform: uppercase;
}

.assort .container table td:nth-child(4), 
.assort .container table th:nth-child(4) {
	text-align: left;
	text-transform: uppercase;

}

.assort .container table td:last-child {
	
	text-align: right;
	text-transform: uppercase;
}

.assort .container table th:last-child {
	text-align: right;
	text-transform: uppercase;
}

.assort .container table td sup {
	display: inline-block;
	width: 50px;
	border-radius: 2px;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-size: 8px;
	font-weight: bold;
	line-height: 13px;
	text-align: center;
	margin-left: 20px;
}

/* ФОРМА ЗАКАЗА */

.order_form {
	margin: 0;
	background-color: #ffcb78;
	padding-bottom: 70px;
	padding-top: 1px;
}

.order_form .container h2 {
	margin: 0;
	padding: 0;
	font-size: 40px;
	line-height: 60px;
	text-transform: uppercase;
	color: #000000;
	margin-top: 79px;
}

.order_form .container p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	color: #404040;
	margin-top: 75px;
	margin-right: 140px;
}

.order_form .container form {
	margin: 0;
	padding: 0;
	margin-top: 70px;
	margin-right: 170px;
	position: relative;
}

.order_form .container form label {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 20px;
	color:  #000;
}

.order_form .container form input[type="text"] {
	display: block;
	width: 630px;
	height: 50px;
	background-color: #e5b66c;
	border: none;
	margin-bottom: 25px;
}

#user_number {
	width: 290px;
}

#user_extra_number {
	width: 290px;
}

div.form_group:nth-child(3) {
	position: absolute;
	right: 0;
	top: 107px;

}

div.form_group:nth-child(4) {
	margin-bottom: 15px;
}

.order_form .container form textarea {
	display: block;
	width: 630px;
	height: 115px;
	background-color: #e5b66c;
	border: none;
	margin-bottom: 40px;
}

.order_form .container form input[type="submit"] {
	display: block;
	width: 200px;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	color: #fff;
	background-color: #834700;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	border: none;
	margin-top: 40px;
}

.order_form .container form select {
	margin-bottom: 20px;
} 

/* ФУУУУТЕЕЕР */

.page_footer {
	background-color: #834700;
	margin: 0;
	padding-top: 60px;
	padding-bottom: 70px;
}

.page_footer > .container{
	width: 1015px;
}

.top_footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer_logo {
	margin-left: 38px;
	width: 140px;
	height: 76px;
}

.footer_logo img{
	width: 140px;
	height: 76px;
}

ul.footer_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0;
	margin:0;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	list-style: none;
	height: 57px;
	width: 600px;
	margin-right: 105px;
	margin-top: 7px;
}

.footer_nav li {
	padding:0;
	margin:0;
}

.footer_nav a {
	text-decoration: none;
	color: #fff;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.bottom_footer {
	margin: 0;
	padding: 0;
	color: #989898;
	margin-top: 47px;
	display: flex;
	justify-content: space-between;
}

.footer_social {
	height: 68px;
	font-size: 0px;
}

.footer_social a {
	color: #fff;
	text-decoration: none;
}

.social-btn {
	border:  1px solid #322d24;
	display: inline-block;
	vertical-align: middle;
	width: 72px;
	height: 68px;
	margin-right: -1px;
	box-sizing: border-box;
}

.social-btn.inst-btn {
	background: #1b1b1b url(img/insta-icon.svg.png) no-repeat 50% 50%;	
}

.social-btn.fb-btn {
	background: #1b1b1b url(img/fb-icon.svg.png) no-repeat 50% 50%;	
}

.social-btn.vk-btn {
	background: #1b1b1b url(img/vk-icon.svg.png) no-repeat 50% 50%;	
}

.copyright {
	width: 205px;
	height: auto;
	margin-right: 90px;
}

.copyright {
	font-size: 14px;
	color: #989898;
}

.copyright p {
	font-size: 14px;
	line-height: 20px;
}

.dev-image {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 72px;
	height: 68px;
	line-height: 88px;
	margin-right: 30px;
	border:  1px solid #322d24;
	background-color: #1b1b1b;
	box-sizing: border-box;
}

.developer {
	margin-right: 10px;
}

.developer a {
	text-decoration: none;
	color: #989898;
	font-size: 14px;
}

.developer b {
 font-size: 14px;
}



